[Unit]
Description=etherpad-lite (real-time collaborative document editing)
After=syslog.target network.target

[Service]
Type=simple
User=etherpad
Group=etherpad
ExecStart=/opt/etherpad/bin/run.sh
PrivateTmp=yes
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/opt/nodejs/bin:/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
